<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css"> <!--Đường dẫn tới file CSS-->
        <title>Liên hệ</title>
        <link rel="icon" href="webdev.svg" type="image/x-icon">
    </head>
    <body>
        <%- include('partials/navbar') %> <!--import navbar-->

        <h1>Chào mừng tới trang liên hệ</h1>
    </body>
            <%- include('partials/footer') %>
</html>