<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css"> <!--Đường dẫn tới file CSS-->
        <title>Trang Chủ</title>
        <link rel="icon" href="webdev.svg" type="image/x-icon">
    </head>
    <body>
        <%- include('partials/navbar') %>

        <div class="home-welcome">
            <h1 class="welcome-header"><span class="gradient-text">Team Khô Gà</span> Xin Kính Chào!</h1>
            <h2>Giới thiệu thành viên</h2>
    
            <div class="rectangle-row">
                <div class="rectangle">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 1">
                    <p>Thịnh</p>
                </div>
                <div class="rectangle">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 2">
                    <p>Huy</p>
                </div>
                <div class="rectangle">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 3">
                    <p>Chat GPT</p>
                </div>        
            </div>
        </div>

        <%- include('partials/footer') %>
    </body>
</html>