<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css"> <!--Đường dẫn tới file CSS-->
        <title>Trang Chủ</title>
        <link rel="icon" href="webdev.svg" type="image/x-icon">
    </head>
    <body>
        <%- include('partials/navbar') %>

        <!-- <div class="member-info">
            <h1 >Ngô Anh Thịnh</h1>
            <img class="m-infor-avatar" src="https://static.wikitide.net/kaoruhanawiki/e/e5/Kaoruko_Portal_Color.png" alt="">
        </div> -->

        <div class="home-welcome">
            <h1 class="welcome-header"><span class="gradient-text">Team Khô Gà</span> Xin Kính Chào!</h1>
            <h2>Giới thiệu thành viên</h2>
    
            <div class="rectangle-row">
                <div class="rectangle">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 1">
                    <p>Thịnh</p>
                </div>
                <div class="rectangle">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 2">
                    <p>Huy</p>
                </div>
                <div class="rectangle">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 3">
                    <p>Chat GPT</p>
                </div>        
            </div>
        </div>

        <!-- Start of OpenWidget (www.openwidget.com) code -->
        <script>
            window.__ow = window.__ow || {};
            window.__ow.organizationId = "4936a2e5-f75f-4a31-aff0-d7d2dd20f60f";
            window.__ow.integration_name = "manual_settings";
            window.__ow.product_name = "openwidget";   
            ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[OpenWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.openwidget.com/openwidget.js",t.head.appendChild(n)}};!n.__ow.asyncInit&&e.init(),n.OpenWidget=n.OpenWidget||e}(window,document,[].slice))
        </script>
        <noscript>You need to <a href="https://www.openwidget.com/enable-javascript" rel="noopener nofollow">enable JavaScript</a> to use the communication tool powered by <a href="https://www.openwidget.com/" rel="noopener nofollow" target="_blank">OpenWidget</a></noscript>
        <!-- End of OpenWidget code -->

        <%- include('partials/footer') %>
    </body>
</html>