<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css"> <!--Đường dẫn tới file CSS-->
        <title>Khô Gà</title>
        <link rel="icon" href="webdev.svg" type="image/x-icon">
    </head>
    <body>
        <%- include('partials/navbar') %> <!--import navbar-->
        <h1>Ăn khô gà thôi</h1>
    </body>
</html>