<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css"> <!--Đường dẫn tới file CSS-->
        <title>Trang Chủ</title>
        <link rel="icon" href="webdev.svg" type="image/x-icon">
    </head>
    <body>
      <%- include('partials/navbar') %>

      <h1>Chưa có dự án nào</h1>

      <%- include('partials/footer') %>
    </body>
</html>