<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css"> <!--Đường dẫn tới file CSS-->
        <title>Trang Chủ</title>
        <link rel="icon" href="webdev.svg" type="image/x-icon">
    </head>
    <body>
        <main>
        <%- include('partials/navbar') %>

        <h1>Các dự án của chúng tôi</h1>
        <div class="rectangle-row">
  <div class="rectangle">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 1">
  <p> Nhóm khô gà</p>
</div>
  <div class="rectangle">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 2">
    <p> Nhóm khô gà</p></div>
  <div class="rectangle">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 3">
    <p> Nhóm khô gà</p></div>
  <div class="rectangle">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 4">
    <p> Nhóm khô gà</p></div>
  <div class="rectangle">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Ảnh 5">
    <p> Nhóm khô gà</p></div>
</div>
</main>
        <%- include('partials/footer') %>
    </body>
</html>