<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css"> <!--Đường dẫn tới file CSS-->
        <title>Trang Chủ</title>
        <link rel="icon" href="webdev.svg" type="image/x-icon">
    </head>
    <body>
        
        <main
        <%- include('partials/navbar') %>
        <div class="project">
       <H1> <strong>Các dự án của chúng tôi</strong></H1>
        <br>        <br>   
<div class="rectangle-row">
  <div class="rectangle">1
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKPzBLH-9X12U49tsAorkzp9GrjOgHbVnWMA&s" alt="Mô tả hình ảnh">
  </div>
  <div class="rectangle">2
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsvKhxpL3VaLzZ_gHUJI3VtjWGBBiAf4Qt8g&s" alt="Mô tả hình ảnh">
  </div>
  <div class="rectangle">3
    <img src="https://tr.rbxcdn.com/180DAY-189f1e6fd565542fee8c77cc2d7c781b/768/432/Image/Webp/noFilter" alt="Mô tả hình ảnh">
  </div>
      
  <div class="rectangle">4
    <img src="https://tr.rbxcdn.com/180DAY-189f1e6fd565542fee8c77cc2d7c781b/768/432/Image/Webp/noFilter" alt="Mô tả hình ảnh">
  </div>

  <div class="rectangle">5
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROGuMinOuVPAGYaEJkpeEGrpdRLvcL9pfhdZGhx8BYfkkDp4mjNVi_ti4mddnwL7mLvtI&usqp=CAU" alt="Mô tả hình ảnh">
  </div>
</div>



        </main>
        
        <%- include('partials/footer') %>
    </body>
</html>