/* biến màu */
:root {
  --blue-color: #0d55ff; /* màu xanh dương đậm*/
  --cyan-color: #00c9db; /* màu xanh dương nhạt*/
  --gray-color: #333333; /* màu xám đậm*/
  
}

body {
  padding: 0;
  margin: 0;
  
}

/* CSS cho NavBar */
.navbar {
  margin: 0;
  padding: 0!important;
  height: fit-content;
  position: sticky!important;
  top: 0;
  box-sizing: border-box!important;
}
.nav-links {
  display: flex;
  list-style: none;
  height: 68px;
  margin: 0;
  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
        color: black;
    }
  }
  .logo {
    width: 50px;
    &:hover {
        cursor: pointer;
    }
  }
  .nav-item {
    line-height: 40px;
    padding: 0 10px;
    margin: 0;
    font-size: large;
    transition: 0.5s;
    a {
      color: white;
    }
    &:not(.updating, :first-child):hover {
      background-color: #ddd;
      a {
        color: var(--gray-color);
      }
    }
  }

  .updating {
    color: rgb(52, 52, 52);
    background-color: rgb(74, 74, 74);
    &:hover {
      cursor: not-allowed;
      background-color: rgb(38, 38, 38);
      color: rgba(255, 255, 255, 0.2);
    }
    a {
      cursor: not-allowed;
    }
  }
}
.nav {
  background-color: #333;
  overflow: hidden;
  color: white;
  padding: 0px 16px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0,0.2);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0 0,0,0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav-account {
    height: fit-content;
  }
}

.nav-user {
  display: none;
  align-items: center;
  .nav-user-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .nav-user-disname {
    font-size: 30px;
    margin: 0 10px;
  }
  .nav-log-out-btn {
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(200, 0, 0);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
    }
    &:active {
      opacity: 0.8;
    }
  }
}

/* CSS cho Footer */
footer {
  width: 100vw;
  box-sizing: border-box;
}
footer .footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

footer .col {
  flex: 1 1 250px;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid #778da9;
  display: inline-block;
  padding-bottom: 5px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 6px 0;
}

footer ul li a {
  color: #e0e1dd;
  text-decoration: none;
  transition: 0.3s;
}

footer ul li a:hover {
  color: var(--gray-color);
  
}

footer .copyright {
  margin-top: 15px;
  font-size: 14px;
  color: #4a4a4a;
  /* text-shadow: ; */
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* xếp dọc header - main - footer */
}

main {
  flex: 1; /* chiếm toàn bộ không gian còn lại để đẩy footer xuống */
}

footer {

  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(300deg, var(--blue-color), var(--cyan-color), var(--gray-color));
  color: #e2e5e4;
  background-color: #0d1b2a;
  color: white;
  text-align: center;
  padding: 20px;
}


.footerlogo {
  width: 120px;
  margin-bottom: 0 10px;
  float: left;
}

/*Home Page*/
.home-welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.welcome-header {
    margin-top: 20px;
    
  }

.gradient-text {
  background: linear-gradient(45deg, var(--blue-color), var(--cyan-color), purple);
    -webkit-background-clip: text; /* Dùng background làm màu cho chữ */
    -webkit-text-fill-color: transparent; /* Xóa màu mặc định */
    -webkit-text-stroke: .3px white;
}

.rectangle-row {
  display: flex;               
  justify-content: space-around; 
  padding: 20px;
  flex-wrap: wrap;             
  gap: 20px;      
                
}

.rectangle {
  flex: 0 0 300px;   /* chiều rộng */
  height: 400px;     /* chiều cao */
  border: 2px solid #023047;
  border-radius: 8px;
  overflow: hidden;   /* giữ ảnh không tràn */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
   flex-direction: column;
}

.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ảnh đầy khung, không méo */
  display: block;
}

.rectangle:hover {
  transform: scale(1.05);
  border-color: #ffb703;
}
main {
  min-height: 5000px; /* ép trang dài ít nhất 2000px */
}
@media screen and (max-width: 800px) {
  .rectangle {
    flex: 0 1 45%;   /* 2 hình/1 hàng */
  }
}

/* Responsive: màn hình nhỏ hơn 500px */
@media screen and (max-width: 500px) {
  .rectangle {
    flex: 0 1 90%;   /* 1 hình/1 hàng */
  }}

.member-info {
  position: fixed;
  height: 70%;
  top: 80px;
  right: 5px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
}

.m-infor-avatar {
  width: 200px;
}

/* CSS trang login */
.login-page {
  height: 80%;
    background: linear-gradient(135deg, #d6dae3, #475c89);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-j{
   width: 400px;               
background: linear-gradient(135deg, #a6bfe8, #5fc0ea);
color: #fff;       
  padding: 20px;             
  border-radius: 10px;         
box-shadow:
  0 15px 45px #a6bfe8,
  0 5px 15px #5fc0ea;  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
}
.login-j button{
    width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;}
  .login-j input{
    width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* CSS trang register */
.register-page {
  height: 200%;
  background: linear-gradient(135deg, #d6dae3, #475c89);
  background-repeat: no-repeat;
  background-size: cover;

}
.register-all{
   width: 400px;               
background: linear-gradient(135deg, #a6bfe8, #5fc0ea);
color: #fff;       
  padding: 20px;             
  border-radius: 10px;         
box-shadow:
  0 15px 45px #a6bfe8,
  0 5px 15px #5fc0ea;  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
}
.register-all button{
    width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.register-all input{
    width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}