/* CSS cho NavBar */
.nav {
    background-color: #333;
    overflow: hidden;
    color: white;
    position: sticky;
    top: 0;
    padding: 0px 16px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0 0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover {
            background-color: #ddd;
            color: black;
        }
    }
    .logo {
        width: 50px;
        margin: 0 30px;
        &:hover {
            cursor: pointer;
        }
    }
    .nav-item {
        line-height: 40px;
        padding: 0 10px;
        margin: 0;
        font-size: large;
    }
}


footer .footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

footer .col {
  flex: 1 1 250px;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid #778da9;
  display: inline-block;
  padding-bottom: 5px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 6px 0;
}

footer ul li a {
  color: #e0e1dd;
  text-decoration: none;
  transition: 0.3s;
}

footer ul li a:hover {
  color: #fca311;
}

footer .copyright {
  margin-top: 15px;
  font-size: 14px;
  color: #adb5bd;
}
footer {
  background: #0d1b2a;
  color: #e0e1dd;
  text-align: center;
  padding: 20px 10px;
}
main {
  padding-bottom: 60px; /* cao hơn chiều cao footer */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2c406d;
  color: #e2e5e4;
  text-align: center;
  padding: 20px 10px;
}
.footerlogo {
  width: 120px;
  margin-bottom: 0 10px;
  float: left;
}

